*
{
    margin: 0;
    padding: 0;
}
ul
{
    background: rgb(193, 193, 193);
    height: 100px;
    width: 500px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    background: red;
    color: white;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 25px;
}
ul::before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
ul>li
{
    display: inline-block;
    vertical-align: middle;
}